<app-header></app-header>

<app-sidebar></app-sidebar>


<div class="content-wrapper" *ngIf="spinerLoading==true">
    <div class="content-header">
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden"></span>
            </div>
        </div>
    </div>
</div>

<div class="content-wrapper" style="min-height: auto " *ngIf="spinerLoading==false">
    <div class="content-header">
        <div id="data"></div>
        <br />
        <a><button type="submit" class="btn btn-warning text-white" (click)="isGetByApproveStatus(false)">
                All pending
            </button></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a><button type="submit" class="btn btn-success" (click)="isGetByApproveStatus(true)">
                All completed
            </button></a>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div class="table-responsive" *ngIf="showEmtyPage==true">
        <h2>User of List Withdraw</h2>
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Amount</th>
                    <th>createdAt</th>
                    <th>Status</th>
                    <th>Bank Detail</th>
                    <th>Approve</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of walletdata">
                  <th scope="row">{{item._id}}</th>
                  <th >{{item.owner.fullname}}</th>

                    <td> <strong class="text-danger"> -{{item.amount}} $</strong></td>
                    <td>{{item.createdAt.split(':')[0]}}</td>
                    <td *ngIf="item.isSuccess==true">
                        <span class="badge badge-success text-white">Success</span>
                    </td>
                    <td *ngIf="item.isSuccess==false">
                        <span class="badge badge-warning text-white"> pending</span>
                    </td>
                    <th>
                      <div class="input-group mb-3">
                      
                        <input type="text" value="tone 123124123123 543765734sdfsdhfg" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
                      </div>
                    </th>

                    <td>
                        <!-- <button class="btn btn-primary btn-sm  text-white"  *ngIf="item.isSuccess==true">admin</button> -->
                        <span class="info-box-text text-success p-2 font-weight-bold"
                            *ngIf="item.isSuccess==true">completed</span>
                        <button class="btn btn-info btn-sm  text-white" (click)="confrimAlert(item._id)"
                            *ngIf="item.isSuccess==false">Approve</button>
                    </td>

              
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-content" *ngIf="showEmtyPage==false">
        <div class="tab-empty" style="height: 598.8px;">
            <h2 class="display-4">No have data!</h2>
        </div>
    </div>
  <!-- paging -->
    <nav>
        <ul class="pagination">
            <li class="page-item button" *ngFor="let buttons of pageingtation.pageingtations(pageTotal,pageTotal)"
                [ngClass]="{'button-them': buttons?.active === 1}">
                <a class="page-link myclass" [ngClass]="{'myclass':buttons?.active === 1}"
                    (click)="click_pagemodalTo(buttons?.page)">{{buttons?.name}}</a>
            </li>
        </ul>
    </nav>
    <!-- paging -->
</div>

<div id="sidebar-overlay"></div>

